In [1]:
import os
import sys

module_path = os.path.abspath(os.path.join(".."))
sys.path.insert(0, module_path)

from planning.config import (  # noqa: E402
    employee_restrictions,
)
from planning.employee import (  # noqa: E402
    create_employees,
    create_employees_with_dates,
    create_transposed_dataframe,
    generate_excel,
    generate_summary,
    generate_transposed_excel_with_styles,
    init_employees_by_shifts,
    load_data_by_date,
    modify_index_to_datetime,
    assign_vacations,
)

year = 2025
start_date = f"{year}-01-01"
employees = create_employees(employee_restrictions)
employees_info, dates = create_employees_with_dates(start_date, 365, employees)
all_employees_by_shift = init_employees_by_shifts(dates, employee_restrictions)
assign_vacations(employees_info)
load_data_by_date(all_employees_by_shift, employee_restrictions, employees_info, employees, start_date)
modify_index_to_datetime(all_employees_by_shift)
modify_index_to_datetime(employees_info)

generate_excel(employees_info, f"samples/{year}_employees_0.xlsx")

transposed_employees_info = create_transposed_dataframe(employees_info)
transposed_employees_info = generate_summary(employees, employee_restrictions, transposed_employees_info)

generate_transposed_excel_with_styles(
    transposed_employees_info, employee_restrictions, f"samples/{year}_planning_0.xlsx"
)

In [2]:
all_employees_by_shift

            M  T
2025-01-01  1  1
2025-01-02  1  1
2025-01-03  1  1
2025-01-04  1  1
2025-01-05  1  1
...        .. ..
2025-12-27  0  0
2025-12-28  0  0
2025-12-29  1  1
2025-12-30  1  1
2025-12-31  1  1

[365 rows x 2 columns]

In [3]:
employees_info

               E1 E2 E3

Enero     X 1   V  T  M
          J 2   V  T  M
          V 3   T  V  M
          S 4   T  V  M
          D 5   T  -  M
...            .. .. ..
Diciembre S 27  -  -  -
          D 28  -  -  -
          L 29  T  M  -
          M 30  T  M  -
          X 31  T  M  -

[365 rows x 3 columns]